// SPDX-License-Identifier: GPL-2.0-or-later

const execute = () => {
    debugLog(scriptName + " executing JS_ADJUST_WINDOW_OPACITY");

    const targetWindow = findWindow({{jsString .Uuid}});
    if (!targetWindow) {
        returnError(ERROR_WINDOW_NOT_FOUND + {{jsString .Uuid}});
    } else {
        const delta = {{.Delta}};
        let newOpacity = targetWindow.opacity + delta;
        newOpacity = delta > 0
            ? Math.min(newOpacity, 1.0)
            : Math.max(newOpacity, 0.1);

        debugLog("Setting opacity of window with UUID=" + {{jsString .Uuid}} + " to " + newOpacity);
        targetWindow.opacity = newOpacity;
    }
}
