// SPDX-License-Identifier: GPL-2.0-or-later

const execute = () => {
    debugLog(scriptName + " executing JS_GET_ACTIVE_WINDOW");

    const activeWindow = workspace.activeWindow;
    if (activeWindow.specialWindow) {
        returnError("No active regular window");
    } else {
        returnResult(activeWindow.internalId);
    }

}
