const execute = () => {
    debugLog(scriptName + " executing JS_GET_ACTIVE_WINDOW_OUTPUT");

    const window = workspace.activeWindow;

    if (window != null) {
        returnResult(window.output.name);
    } else {
        returnError("Unable to determine the active window");
    }
}

