// SPDX-License-Identifier: GPL-2.0-or-later

const execute = () => {
    debugLog(scriptName + " executing JS_LIST_OUTPUTS");

    const outputs = workspace.screens;

    for (let i = 0; i < outputs.length; i++) {
        const output = outputs[i];
        returnResult(output.name);
    }
}
