// SPDX-License-Identifier: GPL-2.0-or-later

const execute = () => {
    debugLog(scriptName + " executing JS_SET_WORKSPACE");

    let ws = workspace.desktops.find((ws) => ws.x11DesktopNumber == {{.WorkspaceId}});
    if (ws) {
        workspace.currentDesktop = ws;
    } else {
        returnError("Invalid workspace number: " + {{.WorkspaceId}});
    }

}
