// SPDX-License-Identifier: GPL-2.0-or-later

const execute = () => {
    debugLog(scriptName + " executing JS_SET_WINDOW_WORKSPACE");

    const targetWindow = findWindow({{jsString .Uuid}});
    const targetWorkspace = workspace.desktops.find(
        (desktop) => desktop.x11DesktopNumber == {{.WorkspaceId}}
    );

    if (!targetWindow) {
        returnError(ERROR_WINDOW_NOT_FOUND + {{jsString .Uuid}});
    } else if (!targetWorkspace) {
        returnError("Invalid workspace number: " + {{.WorkspaceId}});
    } else {
        targetWindow.desktops = [targetWorkspace];
    }
}
